// Place all the styles related to the Dresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.product-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.product-item{
	margin-bottom: 1rem;
}