<div class="banner">
	<div class = "banner-text">
		<h4> Life Is Beautiful </h4>
		<p> Everything happens for good. <br/>
				Life is Good </p>
	</div>
</div>
<h2> <u>All Dresses </u></h2>
<div class="product-container">
	<%@dresses.each do |dress| %>
		<%= render partial: 'dress_card', locals: {dress: dress} %>
	<% end %>
</div>