<div class="banner">
	<div class = "banner-text">
		<h4> SHOP NOW </h4>
		<p> We are happy to offer you Best Quality
				<br/> Hurry up!!!!!
		 </p>
	</div>
</div>
<h2> <u>All Dresses </u></h2>
<div class="product-container">
	<%@dresses.each do |dress| %>
		<%= render partial: 'dress_card', locals: {dress: dress} %>
	<% end %>
</div>